<main class="container">
  <h1 class="title">Password Check App</h1>
  <div class="wrapper">
    <form [formGroup]="form" class="form">
      <h4 class="subtitle">Please, enter your password here...</h4>
      <mat-form-field class="form__password">
        <mat-label class="form__label">Password</mat-label>
        <input
          (input)="checkStrength()"
          formControlName="password"
          matInput
          class="form__input"
        />
      </mat-form-field>
      <div
        class="password"
        [ngClass]="{
          red: (password?.touched && password?.invalid) || password?.dirty,
          orange: count === 1,
          yellow: count === 2,
          green: count === 3
        }"
      >
        <h3 *ngIf="password?.invalid; else valid">{{ titlesText.invalid }}</h3>
        <ng-template #valid>
          <h3>{{ titlesText.simple }}</h3>
        </ng-template>
        <p *ngIf="password?.invalid; else validText">
          {{ infoText.invalid }}
        </p>
        <ng-template #validText>
          <p>{{ infoText.simple }}</p>
        </ng-template>
      </div>
      <div
        class="password"
        [ngClass]="{
          yellow: count === 2,
          green: count === 3
        }"
      >
        <h3>{{ titlesText.middle }}</h3>
        <p>
          {{ infoText.middle }}
        </p>
      </div>
      <div
        class="password"
        [ngClass]="{
          green: count === 3
        }"
      >
        <h3>{{ titlesText.strong }}</h3>
        <p>{{ infoText.strong }}</p>
      </div>
    </form>
  </div>
</main>
