@media (min-width: 320px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .wrapper {
    display: grid;
    place-items: center;
    height: 60vh;
  }

  .title {
    padding: 40px;
  }

  .subtitle {
    padding: 0px 12px;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 450px;

    &__label {
      color: #a1a1a1;
    }

    &__password {
      background-color: #23242a;
      padding: 10px;
      border-radius: 10px;
      font-size: 16px;
    }
  }

  .password {
    border-radius: 10px;
    padding: 10px;
    background-color: #23242a;
    outline: 2px solid #a1a1a1;
    opacity: 0.3;
  }

  .red {
    outline: 2px solid #e24848;
    opacity: 1;
  }

  .orange {
    outline: 2px solid #fe6822;
    opacity: 1;
  }

  .yellow {
    outline: 2px solid #f0e74b;
    opacity: 1;
  }

  .green {
    outline: 2px solid #5ae248;
    opacity: 1;
  }
}

::ng-deep
  .mdc-text-field:not(.mdc-text-field--disabled)
  .mdc-text-field__input {
  color: #fff;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: inherit;
}
