@media (min-width: 320px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .wrapper {
    display: grid;
    place-items: center;
    height: 60vh;
  }

  .title {
    padding: 40px;
  }

  .subtitle {
    padding: 12px;
  }

  .form {
    display: flex;
    flex-direction: column;
    width: 450px;

    &__label {
      color: #a1a1a1;
    }

    &__password {
      background-color: #23242a;
      padding: 10px;
      border-radius: 10px;
      font-size: 16px;
    }
  }
}

::ng-deep
  .mdc-text-field:not(.mdc-text-field--disabled)
  .mdc-text-field__input {
  color: #fff;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: inherit;
}
