@media (min-width: 320px) {
  .container {
    display: grid;
    margin: 20px auto;
    place-items: center;
  }

  .subtitle {
    padding: 0px 12px;
    align-self: center;
    color: #c0c1c1;

    &__wrapper {
      height: 30px;
      display: flex;
      justify-content: space-between;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 450px;

    &__label {
      color: #a1a1a1;
    }

    &__field {
      background-color: #23242a;
      padding: 10px;
      border-radius: 10px;
      font-size: 16px;
    }
  }
}

::ng-deep
  .mdc-text-field:not(.mdc-text-field--disabled)
  .mdc-text-field__input {
  color: #fff;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: inherit;
}

@media (min-width: 768px) {
  .form {
    width: 450px;
    gap: 25px;
  }
}
