<app-header></app-header>

<main class="container">
  <form [formGroup]="form" class="form">
    <div class="subtitle__wrapper">
      <ng-container *ngIf="!inputLength">
        <h4 class="subtitle">Please, enter your password here...</h4>
        <app-tooltip [textInfo]="infoText.invalid"></app-tooltip>
      </ng-container>

      <ng-container *ngIf="conditionInvalid">
        <h4 class="subtitle">{{ titlesText.invalid }}</h4>
        <app-tooltip [textInfo]="infoText.invalid"></app-tooltip>
      </ng-container>

      <ng-container *ngIf="count === 3">
        <h4 class="subtitle">Your password is very strong!</h4>
      </ng-container>
    </div>

    <mat-form-field class="form__field">
      <mat-label class="form__label">Password</mat-label>
      <input formControlName="password" matInput class="form__input" />
    </mat-form-field>

    <app-info-card
      [myNgClass]="{
        red: conditionInvalid,
        orange: count === 1,
        yellow: count === 2,
        green: count === 3
      }"
      [titleText]="titlesText.simple"
      [descriptionText]="infoText.simple"
    ></app-info-card>

    <app-info-card
      [myNgClass]="{
        red: conditionInvalid,
        yellow: count === 2,
        green: count === 3
      }"
      [titleText]="titlesText.middle"
      [descriptionText]="infoText.middle"
    ></app-info-card>

    <app-info-card
      [myNgClass]="{
        red: conditionInvalid,
        green: count === 3
      }"
      [titleText]="titlesText.strong"
      [descriptionText]="infoText.strong"
    ></app-info-card>
  </form>
</main>
