@import "./styles/reset.scss";
@import "./styles/typography.scss";

body {
  font-family: "Raleway";
  font-weight: 400;
  background-color: #1c1c1e;
  color: #fff;
}

@media (min-width: 320px) {
  .container {
    padding: 20px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}
